/* styles.css */
.container {
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}

.code-container {
  margin-bottom: 20px;
}

.solution-container {
  margin-bottom: 20px;
}

.user-code-container {
  margin-bottom: 20px;
}
pre code {
  white-space: pre-wrap;
}
.code-container pre {
  white-space: pre-wrap;
}
